@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(8rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-8rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes moveInDown {
    0% {
        opacity: 0;
        transform: translateY(-8rem);
    }

    80% {
        transform: translateY(1rem);
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes moveInDown--small {
    0% {
        opacity: 0;
        transform: translateY(-4rem);
    }

    80% {
        transform: translateY(1rem);
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(8rem);
    }

    80% {
        transform: translateY(-1rem);
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes headerIntroBlock--primary {
    0% {
        width: 0;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}
  
@keyframes headerIntroBlock--secondary {
    0% {
        width: 0%;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}
  
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes headerBgLogoFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 0.15;
        transform: scale(1);
    }
}

@keyframes headerButtonFadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        width: 1rem;
        height: 6rem;
    }

    100% {
        opacity: 1;
        width: 20rem;
        height: 6rem;
    }
}

@keyframes growWidth {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        width: 70%;
    }
}

@keyframes growWidth--small {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        width: 20%;
    }
}

@keyframes growHeight {
    0% {
        opacity: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        height: 60%;
    }
}

@keyframes growHeight--small {
    0% {
        opacity: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        height: 20%;
    }
}

@keyframes scale {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }

    80% {
        opacity: 0.9;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0); 
    }
    40% {
      transform: translateY(-1rem); 
    }
    60% {
      transform: translateY(-0.5rem); 
    } 
}