body {
    background-color: #000C11;
}

.main__nav {
    position: relative;
    overflow-x: hidden;
}

.main-content {
    position: relative;
    justify-items: center;
    padding-top: 2rem;
}

.wordle__game {
    display: flex;
    flex-direction: column;
}


/* ------------------------------------------------------------------------- */
/* GAMES SECTION HEADER                                                      */
/* ------------------------------------------------------------------------- */

.wordle__header {
    border-bottom: 2px solid #ED4502;
}

.modal__help-btn {
    color: #ED4502;
    font-size: 4rem;
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    padding-left: 1.5rem;
    transition: all 0.3s;
}
  
.modal__close-btn:hover,
.modal__close-btn:focus,
.modal__help-btn:hover,
.modal__help-btn:focus {
    color: #C6EEFE;
    text-decoration: none;
    cursor: pointer;
}
  
.wordle__title {
    color: #C6EEFE;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

/* ------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------- */
/* GAME BOARD & GAMEPLAY ALERT                                               */
/* ------------------------------------------------------------------------- */
  
.wordle__board-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
    position: relative;
}
  
.wordle__alert {
    color: #02ABEC;
    opacity: 0;
    padding-bottom: 1rem;
    font-size: 2.5rem;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade-out__alert {
    animation: fade-out 5s forwards;
}
  
.wordle__board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.5rem;
    padding: 1rem;
}
  
.board__square {
    display: flex;
    width: 7rem;
    height: 7rem;
    justify-content: center;
    align-items: center;
    border: 2px solid #818181;
    font-size: 5rem;
    font-weight: 700;
    line-height: 2rem;
    color: #C6EEFE;
    text-transform: uppercase;
    user-select: none;
}
  
.square__letter--incorrect,
.keyboard__row .square__letter--incorrect {
    background-color: #3f3f3f;
    border-color: #3f3f3f;
}
  
.square__letter--correct,
.keyboard__row .square__letter--correct  {
    background-color: #B99F2D;
    border-color: #B99F2D;
}
  
.square__letter--correct-letter-and-place,
.keyboard__row .square__letter--correct-letter-and-place {
    background-color: #3E8A37;
    border-color: #3E8A37;
}

/* ------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------- */
/* GAME PLAY AGAIN BUTTON                                                    */
/* ------------------------------------------------------------------------- */

.modal__play-again {
    position: absolute;
    background-color: transparent;
    width: 40%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-again__btn {
    font-family: inherit;
    background-color: #BA3602;
    border: none;
    border-radius: 5px;
    color: #C6EEFE;
    font-size: 3rem;
    font-weight: 700;
    padding: 1.5rem 2rem;
    cursor: pointer;
    transition: all 0.3s;
    display: none;
}

.play-again__btn:hover {
    background-color: #C6EEFE;
    color: #BA3602;
}

.play-again__btn:active {
    transform: translateY(0.1rem);
}

/* ------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------- */
/* GAME KEYBOARD                                                             */
/* ------------------------------------------------------------------------- */
  
.wordle__keyboard-box {
    padding-top: 2rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
  
.keyboard__row {
    display: flex;
    justify-content: center;
    margin-bottom: 0.8rem;
    touch-action: manipulation;
}
  
.keyboard__button {
    font-family: inherit;
    font-weight: 700;
    border: none;
    margin-right: 0.6rem;
    height: 6.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    user-select: none;
    background-color: #818181;
    color: #fff;
    padding: 0 3rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.keyboard__button:active {
    transform: translateY(0.2rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
  
.keyboard__button--wide {
    padding: 0 3.5rem;
}

.keyboard__indent-left {
    margin-left: 1rem;
}

.keyboard__indent-right {
    margin-right: 1rem;
}

/* ------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------- */
/* GAME HELP MODAL                                                           */
/* ------------------------------------------------------------------------- */
  
.modal__help {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}
  
.help__content {
    background-color: #121213;
    border: 1px solid #ED4502;
    margin: 8rem auto;
    padding: 2rem;
    width: 30%;
    height: 80%;
    color: #C6EEFE;
    position: relative;
}

.modal__close-btn {
    color: #02ABEC;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3.5rem;
    font-weight: 600;
    padding-right: 1.5rem;
    transition: all 0.3s;
}

.modal__title {
    text-align: center;
    text-decoration: underline 1px solid #ED4502;
    font-size: 2.5rem;
}

.help__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help__text {
    font-size: 1.8rem;
    padding-top: 2rem;
}

.help__text li:not(:last-child) {
    padding-bottom: 0.6rem;
}
  
.modal__img {
    width: 90%;
    padding-top: 3rem;
}

/* ------------------------------------------------------------------------- */