/***********************************************************************************************/
/* BELOW 1800px */
/***********************************************************************************************/
/* 1800 / 16 = 112.5 */
@media (max-width: 113em) {

    .header__ribbon::after {
        top: 4.5%;
        right: -3.5%;
    }

    .header__ribbon:hover::after,
    .header__games-link:focus-visible > .header__ribbon::after {
        top: -3%;
        right: -5.5%;
    }

    .board__square {
        width: 6rem;
        height: 6rem;
    }
}
/***********************************************************************************************/


/***********************************************************************************************/
/* BELOW 1650px */
/***********************************************************************************************/
/* 1650 / 16 = 103.1 */
@media (max-width: 103em) {
    .header__ribbon::after {
        top: 4.8%;
        right: -3.8%;
    }

    .header__ribbon:hover::after,
    .header__games-link:focus-visible > .header__ribbon::after {
        top: -3%;
        right: -6%;
    }

    /***********************************************************************/

    .about__photo-box {
        width: 80%;
    }

    .about__photo {
        width: 80%;
        align-self: center;
    }
}


/***********************************************************************************************/
/* BELOW 1530px */
/***********************************************************************************************/
/* 1530 / 16 = 95.6 */
@media (max-width: 96em) {

    .header__ribbon::after {
        top: 4.5%;
        right: -4.5%;
    }

    .header__ribbon:hover::after,
    .header__games-link:focus-visible > .header__ribbon::after {
        top: -3.5%;
        right: -6.5%;
    }

    .header__ribbon-icon {
        top: 2%;
        right: 1.5%;
    }

    /***********************************************************************/

    .overlay img {
        height: 75%;
        width: 80%;
    } 
}
/***********************************************************************************************/


/***********************************************************************************************/
/* BELOW 1300px */
/***********************************************************************************************/
/* 1300 / 16 = 81.25 */
@media (max-width: 82em) {

    .header__ribbon::after {
        top: 4.3%;
        right: -5.3%;
    }

    .header__ribbon:hover::after,
    .header__games-link:focus-visible > .header__ribbon::after {
        top: -5%;
        right: -7.5%;
    }

    /***********************************************************************/

    .composition__photo {
        height: 16vh;
    }

    /***********************************************************************/

    .contact__grid {
        grid-template-columns: 40% 0.2rem 40%;
    }
}
/***********************************************************************************************/


/***********************************************************************************************/
/* BELOW 1200px */
/***********************************************************************************************/
/* 1200 / 16 = 75 */
@media (max-width: 75em) {

    html {
        font-size: 56%;
    }

    .header__ribbon::after {
        padding-top: 11rem;
        font-size: 1.8rem;
        top: -2.5%;
        right: -7.5%;
    }

    .header__ribbon-icon {
        visibility: visible;
        opacity: 0;
        transform: rotate(0deg);
        animation: fadeIn 0.7s forwards;
        animation-delay: 3.1s;
    }

    .header__ribbon:hover::after,
    .header__games-link:focus-visible > .header__ribbon::after {
        padding-top: 11rem;
        top: -2.5%;
        right: -7.5%;
        font-size: 1.8rem;
    }

    .header__ribbon:hover::after {
        background-color: #ECF9FF;
    }

    /***********************************************************************/

    .column__border {
        width: 0.2rem;
    }

    /***********************************************************************/

    .wordle__keyboard-box {
        padding-top: 5rem;
    }
}
/***********************************************************************************************/


/***********************************************************************************************/
/* BELOW 1100px */
/***********************************************************************************************/
/* 1100 / 16 = 68.75 */
@media (max-width: 69em) {

    .about__grid {
        width: 90%;
    }

    /***********************************************************************/

    .contact__grid {
        grid-template-columns: 45% 0.2rem 45%;
    }
}
/***********************************************************************************************/


/***********************************************************************************************/
/* WHEN ON TOUCH SCREEN */
/***********************************************************************************************/
@media (hover: none) {

    .header__video-controls-icon {
        transform: scale(1.3);
    }

    .header__ribbon::after {
        display: none;
    }

    .header__ribbon-icon {
        color: #ECF9FF;
        top: 2%;
        right: 2.5%;
        height: 5rem;
        width: 5rem;
    }

    .header__ribbon-icon:hover {
        color: #ED4502;
    }

    .header__social-btn {
        padding-bottom: 2.5rem;
    }

    .header__social-btn::after {
        content: "";
        position: absolute;
        top: 70%;
        color: #ECF9FF;
        font-size: 1.4rem;
        text-decoration: underline solid #ED4502;
    }

    .header__social-btn--linkedin::after {
        content: "LinkedIn";
        right: 4%;
    }

    .header__social-btn--github::after {
        content: "GitHub";
        right: 8%;
    }

    .header__social-btn--resume::after {
        content: "Resume";
        right: 5%;
    }
}
/***********************************************************************************************/


/***********************************************************************************************/
/* BELOW 990px */
/***********************************************************************************************/
/* 990 / 16 = 61.9 */
@media (max-width: 62em) {

    html {
        font-size: 50%;
    }

    /***********************************************************************/

    .skills__box {
        width: 40%;
    }

    /***********************************************************************/

    .composition__photo {
        height: 14vh;
    }

    .overlay img {
        height: 60%;
        width: 80%;
    }

    /***********************************************************************/

    .footer__btn-box {
        top: 1rem;
    }

    /***********************************************************************/

    .board__square {
        width: 8rem;
        height: 8rem;
    }

    .wordle__keyboard-box {
        padding-top: 10rem;
    }

    .keyboard__button {
        height: 7rem;
        padding: 0 3.5rem;
    }

    .help__content {
        width: 40%;
        height: 70%;
    }
}
/***********************************************************************************************/


/***********************************************************************************************/
/* BELOW 885px */
/***********************************************************************************************/
/* 885 / 16 = 55.3 */
@media (max-width: 56em) {

    .header__ribbon::after {
        right: -8.5%;
    }

    .header__ribbon:hover::after,
    .header__games-link:focus-visible > .header__ribbon::after {
        right: -8.5%;
    }

    /***********************************************************************/

    .about__grid {
        width: 95%;
    }

    .about__photo-box {
        width: 95%;
    }

    /***********************************************************************/ 

    .projects__grid {
        width: 95%;
    }

    .projects__text {
        width: 85%;
    }

    .projects__imgs {
        width: 70%;
    }
}
/***********************************************************************************************/


/***********************************************************************************************/
/* BELOW 750px */
/***********************************************************************************************/
/* 750 / 16 = 46.9 */
@media (max-width: 47em) {

    .header__ribbon::after {
        display: none;
    }

    .header__ribbon-icon {
        color: #ECF9FF;
        top: 2%;
        right: 2.5%;
        height: 5rem;
        width: 5rem;
    }

    .header__ribbon-icon:hover {
        color: #ED4502;
    }

    .header__title-box {
        top: 50%;
        left: 35%;
    }

    /***********************************************************************/

    .projects__text {
        width: 90%;
    }

    .overlay img {
        max-width: 100%;
        height: 50%;
        width: 85%;
    }
}
/***********************************************************************************************/


/***********************************************************************************************/
/* BELOW 720px */
/***********************************************************************************************/
/* 720 / 16 = 45 */
@media (max-width: 45em) {

    html {
        font-size: 45%;
    }

    /***********************************************************************/

    .footer__btn-box {
        top: 1.5rem;
    }

    /***********************************************************************/

    .keyboard__button {
        height: 6.5rem;
        padding: 0 3rem;
    }

    .help__content {
        width: 50%;
        height: 60%;
    }
}


/***********************************************************************************************/
/* BELOW 600px */
/***********************************************************************************************/
/* 600 / 16 = 37.5 */
@media (max-width: 38em) {

    .header__ribbon::after {
        opacity: 0;
        visibility: hidden;
    }

    .header__title-box {
        top: 50%;
        left: 40%;
        width: 80%;
        padding-left: 10rem;
    }

    .header__social-btn-box {
        position: absolute;
        right: 35%;
        top: 1%;
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }

    /***********************************************************************/

    .section__about {
        padding-bottom: 6rem;
    }

    .about__grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr;
        width: 90%;
        row-gap: 6rem;
    }

    .about__photo-box {
        grid-row: 2 / 3;
        flex-direction: row;
        width: 100%;
        gap: 9rem;
    }

    .about__photo {
        width: 25%;
        height: 50%;
    }

    .about__border {
        width: 0px;
        height: 0%;
    }

    .about__info-box {
        justify-content: center;
        padding-top: 0;
    }

    .about__social-btn-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .about__social-btn {
        padding-bottom: 0rem;
    }

    .about__main-text-box {
        width: 100%;
    }

    .grow-out-wide__row-border {
        display: none;
    }

    .move-in-right__main-text--1 { animation-delay: 0.5s; }
    .move-in-right__main-text--2 { animation-delay: 0.7s; }
    .move-in-right__main-text--3 { animation-delay: 0.9s; }

    .move-in-left__photo { animation-delay: 1.2s; }

    .move-in-down__info--email { animation-delay: 1.5s; }
    .move-in-down__info--phone { animation-delay: 1.7s; }
    .move-in-down__info--address { animation-delay: 1.9s; }

    .move-in-left__social--resume { animation-delay: 2.2s; }
    .move-in-left__social--github { animation-delay: 2.4s; }
    .move-in-left__social--linkedin { animation-delay: 2.6s; }

    .move-in-up__bottom-link--about { animation-delay: 2.8s; }

    /***********************************************************************/

    .skills__skill-boxes {
        width: 90%;
    }

    .skills__box {
        width: 45%;
    }

    /***********************************************************************/

    .projects__grid {
        padding-top: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 0.2rem 1fr 1fr 0.2rem 1fr 1fr;
        row-gap: 1rem;
    }

    .projects__text {
        align-self: center;
        padding-top: 4rem;
    }

    .column__border {
        display: none;
    }

    .row__border--1 {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    .row__border--2 {
        grid-row: 6 / 7;
        grid-column: 1 / 2;
    }

    #project__description--2 {
        grid-row: 4 / 5;
    }

    .projects__imgs {
        width: 90%;
    }

    .composition__photo {
        height: 16vh;
        width: 60%;
    }
    
    .composition__photo--p2 {
        right: 0rem;
        top: 1rem;
    }
    
    .composition__photo--p3 {
        top: 12rem;
    }

    .overlay img {
        width: 95%;
        height: 40%;
    }

    /***********************************************************************/

    .section__contact {
        clip-path: polygon(0 0, 50% 7%, 100% 0, 100% 100%, 50% 98%, 0 100%);
    }

    .contact__grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding-top: 4rem;
    }

    .contact__center-border {
        display: none;
    }

    .contact__map-box {
        margin: 0 auto;
        width: 80%;
        padding-top: 6rem;
    }

    .contact__map {
        width: 100%;
        height: 90%;
    }

    .contact__form-box {
        width: 80%;
        margin: 0 auto;
        grid-row: 1 / 2;
    }

    .form__input {
        width: 100%;
    }

    .form__btn-box {
        right: 0%;
    }

    .move-in-left__map {
        animation-delay: 1s;
    }
    
    .move-in-right__form {
        animation-delay: 0.7s;
    }

    /***********************************************************************/

    .footer__btn-box {
        top: 2.5rem;
    }

    /***********************************************************************/

    .keyboard__button {
        height: 6.5vh;
        padding: 0 3vw;
    }

    .help__content {
        width: 60%;
        height: 60%;
    }

    /***********************************************************************/
    /* MOBILE NAVIGATION */
    /***********************************************************************/

    .btn-mobile-nav {
        display: block;
        z-index: 100;
    }

    .nav__link-btn-box {
        display: none;
    }

    .nav__game-btn-box {
        display: none;
    }

    .nav-open .main__nav-mobile {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-open .icon-mobile-nav[name='close-outline'] {
        display: block;
    }

    .nav-open .icon-mobile-nav[name='menu-outline'] {
        display: none;
    }
}
/***********************************************************************************************/


/***********************************************************************************************/
/* BELOW 530px */
/***********************************************************************************************/
/* 530 / 16 = 33.1 */
@media (max-width: 33em) {

    .about__photo-box {
        gap: 5rem;
    }

    /***********************************************************************/

    .skills__main-text-box {
        width: 90%;
    }
    
    .skills__skill-boxes {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 8rem;
    }
    
    .skills__box {
        width: 60%;
    }
    
    .skills__column-border {
        height: 0.2rem;
        width: 25rem;
        margin-bottom: 2rem;
        display: none;
    }
    
    .skills__other-box {
        width: 70%;
    }
}

/***********************************************************************************************/

/***********************************************************************************************/
/* BELOW 445px */
/***********************************************************************************************/
/* 445 / 16 = 27.8 */
@media (max-width: 28em) {

    .about__grid {
        grid-template-rows: 1fr 0.2fr;
        row-gap: 10rem;
    }

    .about__photo {
        display: none;
    }

    .about__photo-box {
        height: 60%;
        gap: 8rem;
    }

    .about__social-btn-box {
        flex-direction: row;
    }

    #section__bottom-link--about {
        padding-top: 0;
    }

    .move-in-down__info--email { animation-delay: 1.2s; }
    .move-in-down__info--phone { animation-delay: 1.4s; }
    .move-in-down__info--address { animation-delay: 1.6s; }

    .move-in-left__social--resume { animation-delay: 1.9s; }
    .move-in-left__social--github { animation-delay: 2.1s; }
    .move-in-left__social--linkedin { animation-delay: 2.3s; }

    .move-in-up__bottom-link--about { animation-delay: 2.5s; }

    /***********************************************************************/

    .overlay img {
        width: 98%;
        height: 50%;
    }

    /***********************************************************************/

    .help__content {
        width: 70%;
        height: 60%;
    }
}
/***********************************************************************************************/


/***********************************************************************************************/
/* BELOW 410px */
/***********************************************************************************************/
/* 410 / 16 = 25.6 */
@media (max-width: 26em) {

    .about__grid {
        grid-template-rows: 1fr 0.3fr;
    }

    .about__photo-box {
        flex-direction: column;
        gap: 5rem;
    }
}
/***********************************************************************************************/


/***********************************************************************************************/
/* BELOW 350px */
/***********************************************************************************************/
/* 350 / 16 = 21.8 */
@media (max-width: 22em) {

    .about__grid {
        grid-template-rows: 1fr 0.2fr;
    }

    /***********************************************************************/

    .skills__box {
        width: 80%;
    }

    /***********************************************************************/

    .keyboard__button {
        height: 6vh;
        padding: 0 2.5vw;
    }

    .help__content {
        width: 80%;
        height: 50%;
    }
}
/***********************************************************************************************/