.section__skills {
    background-color: #001822;
    overflow: hidden;
    padding-bottom: 8rem;
}



/* ------------------------------------------------------------------------- */
/* SKILLS SECTION MAIN TEXT                                                  */
/* ------------------------------------------------------------------------- */

.skills__main-text-box {
    padding-top: 8rem;
    width: 70%;
    margin: 0 auto;
    justify-self: center;
}

.skills__main-text {
    color: #C6EEFE;
    font-size: 2.2rem;
    line-height: 1.6;
    text-align: center;
}

/* ------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------- */
/* SKILLS SECTION SKILLS BOXES                                               */
/* ------------------------------------------------------------------------- */

.skills__skill-boxes {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 6rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 8rem;
    margin-bottom: 4rem;
    background-color: #000C11;
    padding: 4rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    border-radius: 10px;
}

.skill__box {
    background-color: #ECF9FF;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0rem 0rem 1.4rem rgba(237, 69, 2, 0.4);
    transition: all 0.2s;
}

.skill__box:hover {
    box-shadow: 0rem 0rem 2rem rgba(237, 69, 2, 0.6);
    transform: translateY(-.1rem);
}

.skill__text {
    text-align: center;
}

/* ------------------------------------------------------------------------- */