.section__skills {
    background-color: #001822;
    overflow: hidden;
    padding-bottom: 8rem;
}



/* ------------------------------------------------------------------------- */
/* SKILLS SECTION MAIN TEXT                                                  */
/* ------------------------------------------------------------------------- */

.skills__main-text-box {
    padding-top: 8rem;
    width: 70%;
    margin: 0 auto;
    justify-self: center;
}

.skills__main-text {
    color: #C6EEFE;
    font-size: 2.2rem;
    line-height: 1.6;
    text-align: center;
}

/* ------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------- */
/* SKILLS SECTION SKILLS BOXES                                               */
/* ------------------------------------------------------------------------- */

.skills__skill-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding-top: 12rem;
}

.skills__box {
    width: 30%;
    height: 30rem;
    background-color: #C6EEFE;
    border-radius: 3px;
    border: 2px solid #ED4502;
    box-shadow: 0rem 0rem 1.4rem rgba(237, 69, 2, 0.4);
    position: relative;
}

.icon-box {
    margin: 0 auto;
    text-align: center;
    width: 9rem;
    height: 9rem;
    background-color: #ED4502;
    position: absolute;
    top: -15%;
    left: 40%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills__icon {
    font-size: 5rem;
    color: #C6EEFE;
}

.skills__text {
    font-size: 2.2rem;
    font-weight: 600;
    text-decoration: underline 1px solid #ED4502;
    text-align: center;
    margin-top: 6rem;
}

.skills__list-box {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-left: 6rem;
    line-height: 1.6;
}

.skills__list {
    list-style: none;
}

.list-icon {
    padding-right: 1rem;
    color: #ED4502;
    font-size: 2rem;
    font-weight: 700;
}

/* ------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------- */
/* SKILLS SECTION COLUMN BORDER                                              */
/* ------------------------------------------------------------------------- */

.skills__column-border {
    height: 25rem;
    width: 0.2rem;
    align-self: center;
    background: #02aaec1e;
    box-shadow: 0rem 0rem 0.9rem rgba(2, 171, 236, 0.2);
}

/* ------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------- */
/* SKILLS SECTION OTHER SKILLS                                               */
/* ------------------------------------------------------------------------- */

.skills__other-box {
    color: #C6EEFE;
    font-size: 1.8rem;
    padding-top: 6rem;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.other-list {
    padding-top: 1rem;
    list-style: none;
}

/* ------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------- */
/* ANIMATIONS FOR SKILLS SECTION                                             */
/* ------------------------------------------------------------------------- */

#skills__header,
#skills__main-text,
#skills__list--1,
#skills__list--2,
#skills__other-list {
    opacity: 0;
}

#skills__column-border {
    opacity: 0;
    height: 0;
}

.move-in-down__header {
    animation: moveInDown 0.8s forwards;
}

.move-in-left__main-text,
.move-in-left__list--1 {
    animation: moveInLeft 0.7s forwards;
}

.move-in-right__list--2,
.move-in-right__other-list {
    animation: moveInRight 0.7s forwards;
}

.move-in-left__main-text { animation-delay: 0.5s; }

.move-in-left__list--1 { animation-delay: 0.8s; }
.move-in-right__list--2 { animation-delay: 1.0s; }

.grow-out-height__column-border {
    animation: growHeightSkills 0.7s forwards;
    animation-delay: 1.2s;
}

.move-in-right__other-list { animation-delay: 1.4s; }

/* ------------------------------------------------------------------------- */